.mat-toolbar
  &.mat-toolbar-single-row
    font-size: 15px

.login
  min-height: 420px
  max-width: 420px
  padding: 40px
  background-color: $common-body-color
  margin-left: auto
  margin-right: auto
  border-radius: 4px
  overflow-x: hidden