// Variables
$fa-font-path = '../assets/fonts/font-awesome/'
$theme-color = #4393B9
$common-content-padding = 16px
$common-content-margin = 0 100px

body
  margin: 0

// App-wide Styles
.main
  margin-top: 60px
  display: flex
  flex-direction: column

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

.container
  margin: $common-content-margin
  padding: $common-content-padding

[hidden]
  display: none !important

// Component styles are injected through gulp
@import '~font-awesome-stylus/index'
/* inject:styl */
@import 'admin/admin';
@import 'document/document';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
