$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/index'

// App-wide Styles
.main
  margin-top: 56px

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

[hidden]
  display: none !important

// Component styles are injected through gulp
/* inject:styl */
@import 'admin/admin';
@import 'document/document';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
