$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/index'

// Common styles
@import '../assets/stylus/variables'
@import '../assets/stylus/main'
@import '../assets/stylus/default'
@import '../assets/stylus/loader'

/* inject:styl */
@import 'account/login/login';
@import 'admin/admin';
@import 'document/document';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/slider/slider';
/* endinject */
