.navbar
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12)
  background: #F9F9F9
  .mat-icon-button
    line-height: 36px

.nav-container
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: 10px 16px
  margin: $common-content-margin
  .brand
    padding-right: 50px
    padding-left: 0
    font-size: 25px
    color: $theme-color
    font-weight: 600
  .lef-items
    display: inline-flex
  .active
    background-color: rgba(0,0,0,.12)
  a
    .mat-button-wrapper
      outline: none
      .logo
        margin: -3.5px 5px 0 0
    &.user
      height: 36px

.flex-spacer
  flex-grow: 1

.cdk-overlay-pane
  top: 60px