<div class="navbar">
  <div class="nav-container">
    <a aria-label="Task Manager" class="mat-button brand" routerLink="/" tabindex="0" aria-disabled="false">
      <span class="mat-button-wrapper">Task Manager</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
    </a>
    <div class="lef-items" *ngFor="let item of menu" routerLinkActive="active">
      <a class="mat-button ng-star-inserted" aria-disabled="false" routerLink="{{item.link}}">{{item.title}}</a>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </div>

    <a aria-label="GitHub Repository" class="mat-button" href="https://github.com/angular/material2" aria-disabled="false">
      <span class="mat-button-wrapper">
        <img class="logo" src="{{config.logo.src}}" width="{{config.logo.width}}" height="{{config.logo.height}}"> GitHub
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>

    <div class="flex-spacer"></div>

    <div class="rig-items" [hidden]="isLoggedIn" routerLinkActive="active">
      <a class="mat-button ng-star-inserted" aria-disabled="false" routerLink="/login">Login</a>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </div>

    <a aria-label="User" class="mat-icon-button" aria-disabled="false" [hidden]="!isLoggedIn">
      <span class="mat-button-wrapper">
        <button mat-button [matMenuTriggerFor]="matMenu">{{currentUser.name}}</button>
        <mat-menu #matMenu="matMenu">
          <button mat-menu-item routerLink="/settings">Settings</button>
          <button mat-menu-item routerLink="/admin" [hidden]="!isAdmin">Admin</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
</div>